.social-links {
    width: 100%;
    height: auto;
    margin-top: 2rem;

}

.social {
    gap: 2rem;
    flex-wrap: wrap;
}


.social-links a {
    display: inline-block;
    /* backdrop-filter: blur(10px); */
    /* background-color: white; */
    height: 55px;
    width: 55px;
    display: flex;
    border-radius: 50%;
    transition: all 0.3s ease;

    transform:
        rotateX(51deg) rotateZ(43deg);
    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow:
        0.3px 0px 0 1px #f9f9fb,
        -1px 0 28px 0 rgba(34, 33, 81, 0.01),
        28px 28px 28px 0 rgba(34, 33, 81, 0.25);
    transition:
        .4s ease-in-out transform,
        .4s ease-in-out box-shadow;
}

.social-links i {
    font-size: 3rem;
    margin: 0 1rem;
}

.social-links a:hover {
    background-color: white;
    color: black;

    transform:
        translate3d(0px, -16px, 0px) rotateX(10deg) rotateZ(0deg);
    box-shadow:
        1px 1px 0 1px #f9f9fb,
        -1px 0 28px 0 rgba(34, 33, 81, 0.01),
        54px 54px 28px -10px rgba(34, 33, 81, 0.15);
}